* {
box-sizing: border-box;
}

.home {
    background-color: rgb(238, 238, 238);
    /* background: linear-gradient(180deg, rgb(168, 250, 232) 0%, rgb(89, 224, 241) 100%); */
    margin: 0 auto;
    box-sizing: border-box;
    height: auto;
    padding-bottom: 40px;
}

.home-logo{
    width: 150px;
    height: 50px;
    position: relative;
  }
.home-logo-img {
    width: 250px;
    top:60px;
    left: 50px;
    position: absolute;
  
  }

  

.home__header {
    background-color: rgb(224, 224, 224);
    margin: 22px auto;
    width: 1260px;
}
.home__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left {
    margin-left: 365px;
}
.home__nav--list {
    display: flex;
    margin: 22px 0;
    margin-left: 245px;
    gap: 2px;

    
    
}
.home__nav--item {
    min-width: 150px;
    height: 44px;
    display: block;
    background-color: white;
    text-align: center;
    line-height: 44px;
    padding: 0;
    
}
.home__nav__direc--item:hover,
.home__nav__direc--item:hover .btn-direc-page,
.home__nav--item:hover,
.home__nav--item:hover .home__nav--link {
    background-color: rgb(0, 103, 199);
    color: white;
}
.home__nav--link {
    font-size: 20px;
    height: 100%;
    width: 100%;
    display: block;
}
.home__nav__direc--link:hover,
.home__nav--link,
.home__nav__direc--link {
    text-decoration: none;

}

.home__nav__direc--list {
    display: flex;
    margin-right: 25px;

}
.home__nav__direc--item {

    background-color: white;
    align-items: center;
    width: 50px;
    height: 44px;
}
.home__nav__direc--link {
    font-size: 26px;
    line-height: 44px;
    height: 100%;
    width: 100%;
    display: block;

}
.btn-direc-page {
    background-color: white;

}

.home__container {
    display: flex;
}

.home__container-subnav{
    background-color: white;
    text-align: left;
    height: 200px;  
    width: 210px;
    margin: 0 15px;
}
.home__container-subnav--box {
    display: flex;
    align-items: center;
}
.fa-list-ul {
    background-color: white;
    margin:  4px;
    margin-top: 6px;

}
.home__container-subnav--title {
    font-size: 26px;
    margin: 8px 0;
}

.home__container-subna__item {
    padding: 4px 0;
    padding-left: 24px;
    font-size: 20px;

}
.home__container-subna__item:hover {
    background-color: rgb(0, 103, 199);
    color: white;
    cursor: pointer;
}
.home__container-content {
    width: 1000px;
    margin:0 20px;
    background-color:rgb(224, 224, 224);
    height: auto;
    display: block;
}

