#footer {
    padding: 64px 16px;
    text-align: center;
  }
  #footer .social-list {
    font-size: 24px;
  }
  #footer .social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
  #footer .coppyright a:hover,
  #footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
  }
  #footer .coppyright {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
  }
  
  #footer .coppyright a {
    color: rgba(0, 0, 0, 0.8);
  }
  